{% extends 'base.html' %}
{% block content %}
<!--
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form</title>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <input type="submit" value="저장" />
    </form>
  </body>
</html>
-->

<br />
<div class="container">
    <h1>글쓰기</h1>
    <hr />
    <br /><br />
    <form method = "POST" enctype = "multipart/form-data">
        {% csrf_token %} 
        {{ form.media }}
        {{ form.as_p }}
        <input type = "submit" classes = "btn btn-dark" value="저장" />
    </form>
</div>

{% endblock %}